.titleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff0a;
    height: 80px;
    width: 100%;
    font-size: calc(12px + 2vmin);
    color: #bdbdbd;
    margin-bottom: 25px;
    cursor: default;
}

.titleBar h1 {
    display: flex;
    align-items: baseline;
    margin: 0;
}

.taskDone,
.taskCount {
    margin-left: 6px;
    font-weight: 700;
    font-size: calc(10px + 1.5vmin);
    transition: all 0.8s ease-in-out;
}

.taskCount:hover {
    color: #d43d4a;
}

.taskDone:hover {
    color: #0aa601;
}